:root {
    --background: rgba(255, 255, 255, 0.7) ;
}

html {
    scroll-behavior: smooth;
}

.article--background-img {
    background-image: url(../img/polignano-blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 3em;
}

.bold {
    font-weight: bold;
}

.entry-header {
    max-width: 1170px;
    margin: 0 auto;
}

.right-sidebar #primary {
    width: 100%;
}

.card {
    list-style: none;
    background-color: var(--background);
    border-radius: 8px;
    height: 460px;
    max-width: 270px;
    justify-self: center;
    transition: 0.5s;
    position: relative;
}

.card-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

.card:hover {
    background-color: #dcefff;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card p {
    color: black;
    font-weight: 600;
    font-size: 1.1em;
}

.grid {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit,minmax(min(100%,max(264px,100%/5)), 1fr));
    grid-gap: 2em;
    margin: 0 auto;
    max-width: 1170px;
}

.ak-container {
    width: auto;
    padding: 0;
}

.card figure {
    padding: 5px;
    overflow: hidden;
}

.card figure img {
    object-fit: cover;
    height: 260px;
    border-radius: 8px;
}

.card__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
}

.card__duration {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__duration p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.card__rating {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    margin-bottom: 0.5em;
}

.card__rating p {
    font-size: 0.8em;
    margin-bottom: 0;
}

.card__rating__stars {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}

.card__price {
    padding: 0 12px;
    font-family: "Cagliostro";
}

.card__price p {
    margin: 0;
}

.main-title {
    padding-left: 32px;
}


.heart {
    background-image: url(../img/heart-blank.svg);
    height: 32px;
    width: 32px;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 12px;
    -webkit-tap-highlight-color: transparent;

}

.heart.active {
    background-image: url(../img/heart-full.svg);
    animation-name: scale;
    animation-duration: 0.6s;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/*
.heart:active {
    scale: 1.5;
    transition: 0.3s;
}*/

.card__price span {
    color: #555;
    font-size: 0.75em;
}

.main-content {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-position: center;
    min-height: 750px;
}

.main-content__text {
    max-width: 60%;
    background-color: var(--background);
    padding: 24px;
    border-radius: 12px;
    transition: ease 0.3s;
}

.main-content__text h2 {
    color: black;
    font-family: "Cagliostro";
    font-weight: bolder;
    text-transform: uppercase;
}

.main-content__info {
    color: black;
    background-color: var(--background);
    padding: 12px 24px;
    height: min-content;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    font-size: 1.25em;
}

.button-reserve {
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 1em;
    background-color: rgba(0, 3, 209, 1);
    border: solid 2px rgba(0, 3, 209, 1);
    border-radius: 32px;
    display: block;
    transition: 0.25s;
}

.button-reserve a {
    color: white;
    margin: 0;
    transition: 0.25s;
}

.button-reserve:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(0, 3, 209, 1);
    transition: 0.25s;
}

.button-reserve:hover a {
    color: rgba(0, 3, 209, 1);
    transition: 0.25s;
}

.main-content__info .card__price p {
    display: flex;
    flex-direction: column;
}

.rating {
    padding: 48px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.rating__main {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating__stars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rating__stars img {
    width: 50px;
}

.rating__overall {
    max-width: min-content;
    padding: 0 32px;
    font-size: 48px;
    font-weight: bolder;
    color: gold;
    -webkit-text-stroke: 2px #555;
    text-align: center;
    border-radius: 48px
}

.rating__overall p {
    margin: 0;
}

.rating__overall--small {
    font-size: 0.75em;
    color: #555;
}

.rating__review-count {
    font-size: 1.25em;
}

.main-content__info .card__rating a {
    text-decoration: none;
    color: black;
}

.main-content .card__rating a:hover {
    text-decoration: underline;
}

.main-content--cook {
    background-image: url(../img/cooking-blur.jpg);
}

.main-content--wine {
    background-image: url(../img/wine-blur.jpg);
}

.main-content--valley {
    background-image: url(../img/itria-blur.jpg);
}

.main-content--monopoli {
    background-image: url(../img/monopoli-backgroud-blur.jpg);
}

.main-content--nature {
    background-image: url(../img/nature-blur.jpg);
}

.main-content--market {
    background-image: url(../img/market-background-blur.jpg);
}

.main-content--ceramic {
    background-image: url(../img/ceramics-blur.jpg);
}

.toggle-text {
    display: none;
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
    }

    .main-content__text {
       max-width: 90%;
       display: -webkit-box;
       -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
       /* white-space: pre-wrap;*/
        overflow: hidden;
        position: relative;
        transition: 0.5s;
    }

    .main-content__text::after {
        content: "";
        width: 100%;
        height: 24px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main-content__text p {
        font-size: 0.8em;
        margin-bottom: 1em;
    }

    .toggle-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 6px;
        padding: 0;
        width: 50px;
        height: 50px;
        border-top-left-radius: 50%;
        z-index: 1;
        background-color: white;
        cursor: pointer;
    }

    .toggle-text img {
        transition: 0.5s;
    }

    .toggle-text.active img {
        rotate: 180deg;
        transition: 0.5s;
    }

    .rating {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}